body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0 10px;
}

a {
  color: black;
  text-decoration: none;
}

.link-btn {
  padding: 0.375rem 0.75rem;
  background-color: #007bff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  white-space: nowrap;
  color: white;
  margin-right: 10px;
}

.link-btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

button {
  outline: none;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
