.seeker {
  margin: 10px;
}

.card {
  width: 196px;
  height: 196px;
  border: 2px solid black;
  text-align: center;
  line-height: 196px;
  margin: auto;
  font-size: 25px;
}

.viewer {
  text-align: center;
}