input {
  border: none;
  border-bottom: 2px solid grey;
  margin-right: 20px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input:focus {
  border-bottom: 2px solid #007bff;
}

.error {
  color: red;
  margin-top: 10px;
}

.drag-handle {
  cursor: move;
}

ul {
  margin: 0;
  padding: 0;
}

.card-edit {
  padding: 10px;
}

.material-icons {
  vertical-align: middle;
}

.delete-btn:hover, .add-btn:hover {
  cursor: pointer;
}

.add-group {
  margin-left: 60px;
}

.deck-name {
  margin-left: 60px;
  width: 430px;
  font-size: xx-large;
}