.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.flex-item:hover {
  border: 2px solid black;
  padding: 19px;
}

.new-btn {
  font-size: 48px;
  color: #007bff;
}

.name {
  width: 100%;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}